<h1>New Channel</h1>

<% if @channel.errors.any? %>
    <h2>Errors:</h2>
    <ul>
        <% @channel.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= render "form", channel: @channel %>

<%= link_to "Back to Channels", channels_path %>