<h1>New User</h1>
<% if @user.errors.any? %>
    <h2>Errors:</h2>
    <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>



<%= render "form", user: @user %>
<%= link_to "Back to Users", users_path %>